@media (max-width:620px){
    /* aplicar a regra para tela com tamanho menor que 620px - regras para aplicativos móveis */
    .pokemon-slider {
        padding: 0 -5px;
        gap: 10px;
    }
    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-pokemons {
        height: 480px;
    }
   .cartao .imagem-pokemon {
    max-height: 230px;
   }
   .cartao .informacoes .nome {
    max-width: 50%;
    font-size: 18px;
   }
   .cartao .informacoes .vida {
    font-size: 14px;
   }
   .container-imagem{
    max-height: 263px;
    max-width: 259px;;
   }

}